h1{
    color:red;
}
h2{
    color:rgb(129, 20, 230);
}
.first{
    border:2px solid black;
    padding:50px;
    margin:auto;
    display: flex;
    justify-content:space-between;
    margin-left:5%;
    margin-right:5%;
}
img{
    height:150px;
    width:150px;
    border:2px solid black;
    border-radius:50%;
}
html{
    background-attachment: fixed;
    background-image: url(background1.jpg);
    background-size: 100%;    
}





